.about_wrapper{
    width: 100%;
    display: flex;
}

.about_wrapper .about_left{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.row{
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}


.content {
    display: flex;
    width: 50%;
    margin-right: 10px;
    background-image: url('http://localhost:3000/hero_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 10px;
    align-items: last baseline;
}

.row_top .content:first-of-type{
    background: rgb(54, 125, 203);
}

.row_top .content:first-of-type h3{
    margin-left: 10px;
    color: white;
    font-weight: 400;
}

.row_bottom .content{
    width: 100%;
}

.about_wrapper .about_right{
    width: 55%;
    margin-left: 5%;
}

.about_wrapper .about_right h3{
    font-size: 18px;
    font-weight: 600;
}

.about_wrapper .about_right p{
    font-size: 14px;
    font-weight: 200;
}